<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Expense Tracker</title>
</head>
<body>
    <div>
        <div class="box" id="heading">
            <h1>Kharcha of <%= currDate %></h1>
        </div>
       <div class="box">
            <% kharcha.forEach(khar => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= khar._id %>" onChange="this.form.submit()">
                        <p> <%= khar.expense %> on <%= khar.place %> at <%= khar.time %> </p>
                    </div>
                </form>
            <% }) %>
            <form class="item" action="/" method="post">
                <input type="text" name="kharcha" placeholder="Kitta Kiya?" autocomplete="off" autofocus>
                <input type="text" name="jagah" placeholder="Kaha Kiya?" autocomplete="off">
                <button type="submit">+</button>
            </form>
        </div>
    </div>
</body>
</html>